.footer {
  background-color: #0a2850;
  color: #fff;
  overflow: hidden;
}
.footer__content {
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
  margin: 0 80px 0;
  position: relative;
}
.footer__logo {
  width: 105px;
  height: 39px;
  z-index: 1;
}
.footer__circle {
  background-color: #2f80ed;
  height: 340px;
  width: 340px;
  border-radius: 50%;
  z-index: 0;
  position: absolute;
  top: -188px;
  left: -124px;
}
.social-heading {
  margin: 0 auto 20px;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
}

.footer__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  column-gap: 16px;
  display: flex;
  flex-direction: column;
}

.footer__list-item {
  font-size: 16px;
  margin: 0 auto 16px;
}

.footer__social-link {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.footer__social-link:hover {
  color: #c1c1c1;
}
.footer__social-icon {
  width: 16px;
  height: 16px;
  font-size: 16px;
  line-height: 20px;
}

.footer__copyright {
  margin: 108px 80px 0;
  padding-bottom: 60px;
  font-size: 16px;
  line-height: 20px;
}
