.nav__logo {
  height: 39px;
  width: 105px;
  padding: 30px 0 183px 30px;
  margin: 0;
}

.nav__links {
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  column-gap: 20px;
  list-style-type: none;
  padding: 0;
  position: absolute;
  right: 80px;
  top: 30px;
}

.nav__link {
  color: #000000;
  text-decoration: none;
}
.nav__link:hover {
  color: #2f80ed;
}
